* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    text-shadow: #000 1px 2px 3px;
}

h1,h2,h3,h4,h5,h6{
    padding: 0.5rem;
    text-transform: uppercase;

}
h1{  
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

header.header{
    text-align: center;
    margin-top: 80px;
}

h4{
    text-align: center;
}

input, button,select {
    outline:none;
}

.hiden{
    display: none!important;
}

.visible{
    display: inline-block !important;
}
.clear{
    clear: both;
}
.container{
    width:  100%;
}

.main-bg{
    background-image: url(/images/night.png);
    background-size: inherit;
}

.town-card{
    background-color: #2670afb8;
    width: 80%;
    margin: 5% auto;
    border-radius: 5px;
    padding: 1%;
    box-shadow: #000 3px 3px 10px;
}

.search-block{
    text-align: right;
    font-size: 16px;
    padding: 0.2rem ;
}

.find-city, .find-city-btn, .select-city-wraper {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    display: inline-block;
    vertical-align: top;
}
.find-city{
    width: 50%;
}
.select-city-wraper{
    width: 50%;
    color: #000;
    text-shadow: none;
    text-align: left;
}

.bubble-alert{
    background-color: #ca0000;
    color: #fff;
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    font-size: 12px;
}

.bubble-alert::after{
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ca0000;
    position: relative;
    right: -20px;
    top: 7px;
    display: inline-block;
}
ul.select-city{
    list-style: none;
}
ul.select-city li{
    width: 100%;
    padding: 0.4rem;
}
.select-city li:hover, .select-city li:focus,.select-city li:active{
    background-color: #5090c1;
    cursor: pointer;
}
.disabled{
    color: #676767;
}
.find-city:focus,.find-city:active,.find-city-btn:focus,.find-city-btn:active {
    border: 1px solid #bdbdbd;
    color: #000;
    background-color: #fff;
}

.find-city-btn:focus,.find-city-btn:active,.find-city-btn:hover {
    background-color: #2670af54;
    color: #fff;
    cursor: pointer;
}

.weather-img-block{
    float: left;
    text-align: center;
    width: 30%;
}

.weather-img-block img{
    width: 50%;
}

.weather-img-block .fas{
    font-size: 8rem;
    padding: 10px;
}

.weather-img-block .fa-sun{
    color: yellow;
}

#town-state-country{
text-shadow: #000 2px 2px 3px;
}

.town-temperature-wrap{
    float: left;
    text-align: center;
    width: 38%;
    color: #f8ee51;
}
.temperature-active{
    font-size: 6rem;
}

.weather-details{
    float: left;
    width: 32%;
    text-align: left;
    padding-left: 2%;
}

.weather-details ul{
    list-style: none;  
}

.weather-details ul li{
    line-height: 2rem;
}
.mark{
    text-align: justify;
    background-color: #2670afb8;
    width: 80%;
    margin: 2% auto;
    border-radius: 5px;
    padding: 1%;
    box-shadow: #000 3px 3px 10px;
}

@media (max-width: 768px) { 
    .weather-img-block, .town-temperature-wrap,.weather-details{
        width: 100%;
        text-align: center;
    }
.find-city, .select-city-wraper,.bubble-alert, .find-city-btn{
    width: 100%;
    display: block;
}
}