* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
}

h1,h2,h3,h4,h5,h6{
    padding: 0.5rem;
    text-transform: uppercase;
}

h1{
    text-align: center;
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

input, button,select {
    outline:none;
}

.hiden{
    display: none;
}

.visible{
    display: inline-block ;
}

.container{
    width:  100%;
}

.main-bg{
    background-image: url(/images/day-1674886.png);
}

.town-card{
    background-color: #2670af54;
    width: 80%;
    margin: 2% auto;
    border-radius: 5px;
}

.find-city-wraper{
    text-align: right;
    font-size: 1.5rem;
    width: 80%;
    margin: 2% auto;
}

.find-city, .find-city-btn{
    padding: 10px;
    line-height: 1.2px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
}
.find-city{
    width: 50%;
}
option {
font-size: 16px;
}

.find-city:focus,.find-city:active,.find-city-btn:focus,.find-city-btn:active {
    border: 1px solid #bdbdbd;
    color: #000;
    background-color: #fff;
}

.find-city-btn:focus,.find-city-btn:active,.find-city-btn:hover {
    background-color: #2670af54;
    color: #fff;
}

.bubble-alert{
    background-color: #ca0000;
    color: #fff;
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    font-size: 12px;
}

.bubble-alert::after{
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ca0000;
    position: relative;
    right: -20px;
    top: 7px;
    display: inline-block;
}
